.height {
    min-height: 100vh;
    padding-bottom: 3rem;
}


@media (max-width: 768px) {
    .background {
        background: #EBF5F8;
    }

    .padding {
        padding: 1rem;
    }
}


.line li:nth-child(2n) {
    background: #f6fafb;
}


.pagination {
    margin: 1rem 1rem 1rem 0;
    float: right;
}


@media (max-width: 768px) {
    .pagination {
        margin: 0 1rem 1rem 0;
    }
}