.bold {
    font-weight: bold;
}


.gray {
    color: #343B47;
}


.selection {
    user-select: none;
}


.tiny > svg {
    height: 1rem;
    width: auto;
}


.big > svg {
    height: 1rem;
    width: auto;
}


@media (max-width: 768px) {
    .tiny > svg {
        height: 0.8rem;
        width: auto;
    }

    .big > svg {
        height: 0.8rem;
        width: auto;
    }

    .bold {
        font-size: smaller;
    }

    .ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 3rem;
    }
}


.pointer {
    cursor: pointer;
}


.margin {
    margin-left: 5px;
}