.background {
    height: 100%;
    width: 100%;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.image {
    height: 5rem;
    width: 4rem;

    padding: 0.3rem;

    transition: all 200ms linear;
}

.image:hover {
    opacity: 0.8;
}


@media (max-width: 768px) {
    .image {
        height: 3.6rem;
        width: 3.6rem;

        padding: 0.3rem;
        margin-bottom: 3px;

        box-shadow: 0 3px 6px #00000042;
    }
}