.medium {
    font-size: medium;
}


.gray {
    color: #343B47;
}


.small {
    font-size: small;
}


.hovered {
    background: #e0e6eb;
}


@media (max-width: 768px) {
    .mobile {
        align-items: flex-start !important;
    }
}