.table tr > td {
    border: 0 !important;
}


.table td {
    padding: 0 !important;
}


.table th {
    padding: 0 !important;
    background: #EBF5F8 !important;
    width: 14.2%;
}


.ant-table-tbody tr:nth-child(2n) {
    background: #EBF5F8;
}

.ant-table-tbody tr:nth-child(2n):hover > td {
    background: #EBF5F8 !important;
}