.table {
    margin-top: 3rem;
    padding: 1rem;

    box-shadow: 0 0 5px gray;
}


.background {
    height: 100%;
    width: 100%;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.image {
    height: 7rem;
    width: 6rem;

    margin-right: 1rem;
    padding: 0.3rem;

    box-shadow: 0 0 2px gray;
    border-radius: 20%;

    transition: all 200ms linear;
}

.image:hover {
    box-shadow: 0 0 5px gray;
}


.text {
    color: gray;
    font-size: x-large;
    font-weight: lighter;
}


.margin {
    margin-bottom: 0.5rem;
}


.icon > span:first-child + .icon > span:first-child {
    margin-top: 2px;
}


.big > svg {
    height: 2rem;
    width: auto;
}


.tiny > svg {
    height: 1rem;
    width: auto;
}


.small {
    font-size: small;
}


.bold {
    font-weight: bold;
}


.larger {
    font-size: larger;
}


.uppercase {
    text-transform: uppercase;
}


.xlarge {
    font-size: x-large;
}


.pointer {
    cursor: pointer;
}


.selection {
    user-select: none;
}


.title {
    border-bottom: 1px solid transparent;
}

.title:hover {
    border-color: gray;
}