.background {
    height: 100%;
    width: 100%;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.image {
    height: 5rem;
    width: 4rem;

    margin: 0 0.5rem 0 1.5rem;
    padding: 0.3rem;

    transition: all 200ms linear;
}

.image:hover {
    opacity: 0.8;
}


.ingredients {
    max-width: 2.5rem;
    margin-left: 5px;
    line-height: 1.15;
}