.ingredients {
    max-width: 2.5rem;
    margin-left: 5px;
    line-height: 1.15;
}


.card {
    margin-bottom: 1rem !important;
    padding: 0.7rem;

    border-top: 0.5rem solid #D4E1E5;
    border-radius: 10px;
    box-shadow: 0 3px 10px #00000057;

    background: #FFFFFF;
}


.item {
    padding: 0.4rem 0.8rem 0.8rem 0.8rem;
    border-radius: 10px;
    align-items: center !important;
}

.item:hover {
    background: #E0E6EA;
}


.new {
    background: #ad373736;
}